<h1> Welcome <%= name %> </h1>
<h2>Username: <%= uname %> </h2>
<h2>Email ID: <%= email %> </h2>
<h2>Password: <%= pass %> </h2>
<h2>Date of Birth: <%= bday %> - <%= bmonth %> - <%= byear %> </h2>
<h2>Registered on: <%= regdate %> </h2>